$navbar-color: rgb(223, 236, 245);
$login-button-color: #0277bd;

.nav-bar {
  box-shadow: 2;
  max-height: 5em !important;
  background-color: $navbar-color !important;

  .login-button {
    position: absolute;
    right: 3%;
    margin: -1.5em 0 0 0 !important;
    background-color: white !important;
    border-radius: 25px;
    border-color: #0277bd;
    border-style: solid;
    border-width: medium;
  }

  img {
    max-width: 75%;
    max-height: 75%;
    padding-left: 1em;
    margin: -1em 0 0 0;
  }

  .login-link {
    text-decoration: none;
    color: #0277bd;
  }
}
.login-button-login-link {
  background-color: white !important;
  border-radius: 25px !important;
  border-color: #0277bd !important;
  border-style: solid !important;
  border-width: medium !important;
  color: #0277bd !important;
}
