$login-color: #0277bd;
@mixin required-margin {
  margin: 0.5em 0 0 0 !important;
}

.page-container {
  padding: 0.5em;

  .login-card {
    margin: 2em 0 0 0 !important;
  }

  .form {
    padding-bottom: 0.5em;
    color: #0277bd;
    // border-radius: 25px;
    border-color: #0277bd;
    border-style: solid;
    border-width: medium;
  }
}

.login-header {
  background-color: $login-color;
  margin-top: 10%;
}

.login-button {
  background-color: white !important;
  border-radius: 25px !important;
  border-color: #0277bd !important;
  border-style: solid !important;
  border-width: medium !important;
  color: #0277bd !important;
  @include required-margin;

  .login-button {
    background-color: $login-color !important;
    @include required-margin;
  }

  .email {
    .input {
      width: 72% !important;
      @include required-margin;
    }

    .select {
      width: 70% !important;
      @include required-margin;
    }
  }

  .password {
    .input {
      @include required-margin;
      width: 72%;
    }
  }
}

.back-button {
  background-color: white !important;
  border-radius: 25px !important;
  border-color: #0277bd !important;
  border-style: solid !important;
  border-width: medium !important;
  color: #0277bd !important;
}
