.week-label {
  margin: 2em 0 0 1em;
}
.outer-div {
  .modal-button-submit {
    background-color: white !important;
    border-radius: 25px !important;
    border-color: #0277bd !important;
    border-style: solid !important;
    border-width: medium !important;
    color: #0277bd !important;
  }
  .modal-login-button {
    background-color: white !important;
    border-radius: 25px !important;
    border-color: #0277bd !important;
    border-style: solid !important;
    border-width: medium !important;
    color: #0277bd !important;
    margin-left: 0px;
    text-decoration: none !important;
  }
}
